<?xml version="1.0"?>
<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>Gigue Demo Application</display-name>
	<description>A simple application highlighting how to use the Gigue Web Development Framework</description>
	
	<!-- REQUIRED: set org.gigue.web.FrontController as your servlet -->
	<servlet>
		<servlet-name>gigue_front_controller</servlet-name>
		<description>entry point for all requests into a gigue-based web application</description>
		<servlet-class>org.gigue.web.FrontController</servlet-class>
		<!-- REQUIRED: tell Gigue where to look for your application -->
		<init-param>
			<param-name>application.package</param-name>
			<param-value>org.demo</param-value>
		</init-param>
	</servlet>

	<!-- REQUIRED: let Gigue handle all requests -->
	<servlet-mapping>
		<servlet-name>gigue_front_controller</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>
